<a href="https://colab.research.google.com/github/GustavoAdolf0/data_contest/blob/main/bci_nuevos_datos_max_min.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ipython-autotime
%load_ext autotime

import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

path= "drive/MyDrive/bci2021_2/"

Collecting ipython-autotime
  Downloading ipython_autotime-0.3.1-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (57.4.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (5.1.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->ipython-autotime) (0.7.0)
Installing collected packages: ipython-autotime
Successfully installed ipython-autotime-0.3.1
time: 479 ms (started: 2021-11-28 00:13:20 +00:00)

In [ ]:
#carga data
test = pd.read_csv(path+"test_data.csv",low_memory=False)
train = pd.read_csv(path+"train_data.csv", low_memory=False)

submission = pd.read_csv(path+"ejemplo_submission.csv", low_memory=False)
data_year= pd.read_excel(path+"data_year.xlsx")

time: 14.1 s (started: 2021-11-28 00:13:21 +00:00)

In [ ]:
len(train), len(test)

(667691, 292016)

time: 7.71 ms (started: 2021-11-28 00:13:35 +00:00)

train 667.691

test 292.016

In [ ]:
train.head(2)

             id     mes tipo_ban  ... VAR29_ratio VAR30_sum target_mes
0  abdd0c8d3be5  202002     BAN1  ...         NaN       NaN       0.00
1  5b290c34ff68  202006     BAN1  ...       0.034       NaN       6.19

[2 rows x 70 columns]

time: 123 ms (started: 2021-11-28 00:13:35 +00:00)

In [ ]:
test.head(2)

             id     mes tipo_ban  ... VAR29_prom VAR29_ratio VAR30_sum
0  8ae0058fa056  202105     BAN1  ...  947308.75       0.947       NaN
1  8a4fc1159dee  202106     BAN1  ...        NaN         NaN       NaN

[2 rows x 69 columns]

time: 184 ms (started: 2021-11-28 00:13:35 +00:00)

In [ ]:
test["target_mes"]=0

test["USO"]  = "test"
train["USO"] = "train"

train["mes"] = train["mes"].astype(str)
test["mes"] = test["mes"].astype(str)

train["data_id"] = train["id"] +"-" + train["mes"]
test["data_id"]  = test["id"]  +"-" + test["mes"]

train["mes"] = train["mes"].astype(int)
test["mes"]  = test["mes"].astype(int)

full= train.append(test, ignore_index= True)

time: 1.7 s (started: 2021-11-28 00:13:35 +00:00)

In [ ]:
train["target_simple"] =round(train["target_mes"],0)

time: 17.4 ms (started: 2021-11-28 00:13:37 +00:00)

In [ ]:
train["target_simple"] = train["target_simple"].astype(str)
target_simplificado=  train.groupby(['target_simple']).count()

time: 1.25 s (started: 2021-11-28 00:13:37 +00:00)

In [ ]:
target_simplificado.to_csv(path+"target.csv")

time: 333 ms (started: 2021-11-28 00:13:38 +00:00)

In [ ]:
mes_res=full.groupby(['mes', "USO"]).count()
mes_res.to_csv(path+"resumen_testtrain.csv")

time: 1.73 s (started: 2021-11-28 00:13:38 +00:00)

In [ ]:
full.groupby(["tipo_ban", "USO"]).count()

                    id     mes  tipo_seg  ...  VAR30_sum  target_mes  data_id
tipo_ban USO                              ...
BAN1     test   251831  251831    251831  ...       9059      251831   251831
         train  556222  556222    556222  ...      33979      556222   556222
BAN2     test    17690   17690     17690  ...        868       17690    17690
         train   48774   48774     48774  ...       3289       48774    48774
BAN3     test    22324   22324     22324  ...        943       22324    22324
         train   61653   61653     61653  ...       4169       61653    61653
BAN4     test      171     171       171  ...          6         171      171
         train    1042    1042      1042  ...         70        1042     1042

[8 rows x 70 columns]

time: 1.12 s (started: 2021-11-28 00:13:40 +00:00)

In [ ]:
full.groupby(["tipo_seg", "USO"]).count()

                       id     mes  tipo_ban  ...  VAR30_sum  target_mes  data_id
tipo_seg    USO                              ...
MULTIPROD   test    31416   31416     31416  ...       1233       31416    31416
            train   64957   64957     64957  ...       4603       64957    64957
NO PROD1    test      520     520       520  ...         17         520      520
            train    1470    1470      1470  ...         91        1470     1470
NO PROD2    test     7963    7963      7963  ...        225        7963     7963
            train   16221   16221     16221  ...        979       16221    16221
NO PROD3    test    58489   58489     58489  ...       2466       58489    58489
            train  126653  126653    126653  ...       8999      126653   126653
NO PROD4    test     5996    5996      5996  ...        199        5996     5996
            train   13682   13682     13682  ...        823       13682    13682
PROD1       test    66265   66265     66265  ...       2309       66265    66265
            train  150501  150501    150501  ...       8925      150501   150501
PROD1/PROD2 test    38128   38128     38128  ...       1619       38128    38128
            train   88515   88515     88515  ...       6125       88515    88515
PROD1/PROD3 test     8102    8102      8102  ...        222        8102     8102
            train   17074   17074     17074  ...        906       17074    17074
PROD1/PROD4 test    35807   35807     35807  ...       1087       35807    35807
            train   75525   75525     75525  ...       4111       75525    75525
PROD2       test     1477    1477      1477  ...         69        1477     1477
            train    3929    3929      3929  ...        269        3929     3929
PROD2/PROD4 test     1056    1056      1056  ...         47        1056     1056
            train    3788    3788      3788  ...        214        3788     3788
PROD3       test     2476    2476      2476  ...         46        2476     2476
            train    5618    5618      5618  ...        250        5618     5618
PROD3/PROD2 test      191     191       191  ...          5         191      191
            train     247     247       247  ...         13         247      247
PROD3/PROD4 test     2617    2617      2617  ...         92        2617     2617
            train    7716    7716      7716  ...        409        7716     7716
PROD4       test     9584    9584      9584  ...        357        9584     9584
            train   29211   29211     29211  ...       1469       29211    29211
SINPROD     test    21929   21929     21929  ...        883       21929    21929
            train   62584   62584     62584  ...       3321       62584    62584

[32 rows x 70 columns]

time: 1.17 s (started: 2021-11-28 00:13:41 +00:00)

In [ ]:
full.groupby(["categoria", "USO"]).count()

                     id     mes  tipo_ban  ...  VAR30_sum  target_mes  data_id
categoria USO                              ...
V1        test      265     265       265  ...          0         265      265
          train    1303    1303      1303  ...          0        1303     1303
V2        test   138301  138301    138301  ...       5562      138301   138301
          train  328005  328005    328005  ...      21038      328005   328005
V3        test    24032   24032     24032  ...        906       24032    24032
          train   49553   49553     49553  ...       3487       49553    49553
V4        test    68508   68508     68508  ...       1951       68508    68508
          train  144671  144671    144671  ...       7620      144671   144671
V5        test    24234   24234     24234  ...        883       24234    24234
          train   51197   51197     51197  ...       3224       51197    51197
V6        test    36676   36676     36676  ...       1574       36676    36676
          train   92962   92962     92962  ...       6138       92962    92962

[12 rows x 70 columns]

time: 1.17 s (started: 2021-11-28 00:13:42 +00:00)

In [ ]:
full.groupby(["tipo_com", "USO"]).count()

                    id     mes  tipo_ban  ...  VAR30_sum  target_mes  data_id
tipo_com USO                              ...
COM1     test    21929   21929     21929  ...        883       21929    21929
         train   62584   62584     62584  ...       3321       62584    62584
COM2     test    79802   79802     79802  ...       2781       79802    79802
         train  189259  189259    189259  ...      10913      189259   189259
COM3     test    85901   85901     85901  ...       3072       85901    85901
         train  192865  192865    192865  ...      11778      192865   192865
COM4     test    72968   72968     72968  ...       2907       72968    72968
         train  158026  158026    158026  ...      10892      158026   158026
COM5     test    31416   31416     31416  ...       1233       31416    31416
         train   64957   64957     64957  ...       4603       64957    64957

[10 rows x 70 columns]

time: 1.13 s (started: 2021-11-28 00:13:44 +00:00)

In [ ]:
full.groupby(["tipo_cat", "USO"]).count()

                    id     mes  tipo_ban  ...  VAR30_sum  target_mes  data_id
tipo_cat USO                              ...
RUBRO1   test    26267   26267     26267  ...        943       26267    26267
         train   62794   62794     62794  ...       3730       62794    62794
RUBRO10  test     5171    5171      5171  ...        186        5171     5171
         train   10347   10347     10347  ...        630       10347    10347
RUBRO11  test      876     876       876  ...         34         876      876
         train    1712    1712      1712  ...        139        1712     1712
RUBRO12  test     8044    8044      8044  ...        192        8044     8044
         train   19428   19428     19428  ...        716       19428    19428
RUBRO13  test     6547    6547      6547  ...        164        6547     6547
         train   14769   14769     14769  ...        657       14769    14769
RUBRO14  test     4311    4311      4311  ...         89        4311     4311
         train   10460   10460     10460  ...        375       10460    10460
RUBRO15  test     2618    2618      2618  ...         92        2618     2618
         train    6346    6346      6346  ...        376        6346     6346
RUBRO16  test     2057    2057      2057  ...         78        2057     2057
         train    4528    4528      4528  ...        314        4528     4528
RUBRO17  test     4688    4688      4688  ...         95        4688     4688
         train    9865    9865      9865  ...        290        9865     9865
RUBRO18  test      975     975       975  ...         54         975      975
         train    1758    1758      1758  ...        158        1758     1758
RUBRO19  test     1503    1503      1503  ...         65        1503     1503
         train    4156    4156      4156  ...        324        4156     4156
RUBRO2   test    10997   10997     10997  ...        488       10997    10997
         train   23767   23767     23767  ...       1887       23767    23767
RUBRO20  test      399     399       399  ...         17         399      399
         train     899     899       899  ...         64         899      899
RUBRO21  test      113     113       113  ...          0         113      113
         train     294     294       294  ...         12         294      294
RUBRO3   test    67981   67981     67981  ...       1818       67981    67981
         train  153416  153416    153416  ...       6616      153416   153416
RUBRO4   test    39239   39239     39239  ...       2349       39239    39239
         train   91414   91414     91414  ...       8340       91414    91414
RUBRO5   test    39097   39097     39097  ...       1623       39097    39097
         train   84513   84513     84513  ...       5978       84513    84513
RUBRO6   test    30160   30160     30160  ...        813       30160    30160
         train   69312   69312     69312  ...       3386       69312    69312
RUBRO7   test    17777   17777     17777  ...        753       17777    17777
         train   41518   41518     41518  ...       2994       41518    41518
RUBRO8   test    17259   17259     17259  ...        747       17259    17259
         train   40963   40963     40963  ...       3266       40963    40963
RUBRO9   test     5937    5937      5937  ...        276        5937     5937
         train   15432   15432     15432  ...       1255       15432    15432

[42 rows x 70 columns]

time: 1.15 s (started: 2021-11-28 00:13:45 +00:00)

In [ ]:
full.groupby(["tipo_cli", "USO"]).count()

                    id     mes  tipo_ban  ...  VAR30_sum  target_mes  data_id
tipo_cli USO                              ...
CLI1     test   256041  256041    256041  ...       8612      256041   256041
         train  584175  584175    584175  ...      33509      584175   584175
CLI2     test    35975   35975     35975  ...       2264       35975    35975
         train   83516   83516     83516  ...       7998       83516    83516

[4 rows x 70 columns]

time: 1.07 s (started: 2021-11-28 00:13:46 +00:00)

In [ ]:
pd.set_option('max_rows', None)
print(full.isna().sum())

id                  0
mes                 0
tipo_ban            0
tipo_seg            0
categoria           0
tipo_com            0
tipo_cat            0
tipo_cli            0
VAR1_sum       730895
VAR1_prom      730895
VAR1_trx       730895
VAR2_sum       823919
VAR2_prom      823919
VAR2_trx       823919
VAR3_sum       601691
VAR3_prom      601691
VAR3_trx       601691
VAR4_sum       545038
VAR4_prom      545038
VAR4_trx       545038
VAR5_sum       241966
VAR5_prom      241966
VAR5_trx       241966
VAR6_sum       954439
VAR6_prom      954439
VAR6_trx       954439
VAR7_sum       869482
VAR7_prom      869482
VAR7_trx       869482
VAR8_sum       916067
VAR8_prom      916067
VAR8_trx       916067
VAR9_sum       958136
VAR9_prom      958136
VAR9_trx       958136
VAR10_sum      955539
VAR11_sum       66883
VAR12_sum       66883
VAR13_sum       66883
VAR14_sum       66883
VAR15_sum       66883
VAR16_sum      887011
VAR17_sum      798396
VAR18_sum       66883
VAR19_sum       66883
VAR20_sum       66883
VAR21_sum       66883
VAR22_sum       66883
VAR23_sum      502062
VAR23_prom     502062
VAR23_trx      502062
VAR24_sum      763351
VAR24_prom     763351
VAR24_trx      763351
VAR25_sum      529186
VAR25_prom     529186
VAR25_trx      529186
VAR26_sum      952710
VAR26_prom     952710
VAR26_trx      952710
VAR27_sum      921945
VAR27_prom     921945
VAR27_trx      921945
VAR28_sum      859079
VAR28_prom     859079
VAR28_trx      859079
VAR29_prom     659190
VAR29_ratio    659190
VAR30_sum      907324
target_mes          0
USO                 0
data_id             0
dtype: int64
time: 561 ms (started: 2021-11-28 00:13:47 +00:00)

In [ ]:
 datos_na = full.isna().sum()
 datos_na.head(2)

id     0
mes    0
dtype: int64

time: 568 ms (started: 2021-11-28 00:13:48 +00:00)

In [ ]:
datos_na = datos_na.to_frame()

time: 1.72 ms (started: 2021-11-28 00:13:48 +00:00)

In [ ]:
datos_na.head(2)

     0
id   0
mes  0

time: 13.2 ms (started: 2021-11-28 00:13:48 +00:00)

In [ ]:
len(full)

959707

time: 3.59 ms (started: 2021-11-28 00:13:48 +00:00)

In [ ]:
datos_na.columns =['datos_nan']

time: 1.65 ms (started: 2021-11-28 00:13:48 +00:00)

In [ ]:
datos_na.head(2)

     datos_nan
id           0
mes          0

time: 11.9 ms (started: 2021-11-28 00:13:48 +00:00)

In [ ]:

datos_na["%_na"]= round(100*datos_na["datos_nan"]/959707, 2)

time: 4.37 ms (started: 2021-11-28 00:13:48 +00:00)

In [ ]:
datos_na = datos_na.sort_values(by=['%_na'], ascending= False)
datos_na["datos_ok"] = 959707 - datos_na["datos_nan"]
datos_na

             datos_nan   %_na  datos_ok
VAR9_trx        958136  99.84      1571
VAR9_prom       958136  99.84      1571
VAR9_sum        958136  99.84      1571
VAR10_sum       955539  99.57      4168
VAR6_sum        954439  99.45      5268
VAR6_trx        954439  99.45      5268
VAR6_prom       954439  99.45      5268
VAR26_trx       952710  99.27      6997
VAR26_prom      952710  99.27      6997
VAR26_sum       952710  99.27      6997
VAR27_trx       921945  96.07     37762
VAR27_prom      921945  96.07     37762
VAR27_sum       921945  96.07     37762
VAR8_prom       916067  95.45     43640
VAR8_sum        916067  95.45     43640
VAR8_trx        916067  95.45     43640
VAR30_sum       907324  94.54     52383
VAR16_sum       887011  92.43     72696
VAR7_sum        869482  90.60     90225
VAR7_trx        869482  90.60     90225
VAR7_prom       869482  90.60     90225
VAR28_sum       859079  89.51    100628
VAR28_prom      859079  89.51    100628
VAR28_trx       859079  89.51    100628
VAR2_trx        823919  85.85    135788
VAR2_prom       823919  85.85    135788
VAR2_sum        823919  85.85    135788
VAR17_sum       798396  83.19    161311
VAR24_trx       763351  79.54    196356
VAR24_prom      763351  79.54    196356
VAR24_sum       763351  79.54    196356
VAR1_trx        730895  76.16    228812
VAR1_sum        730895  76.16    228812
VAR1_prom       730895  76.16    228812
VAR29_ratio     659190  68.69    300517
VAR29_prom      659190  68.69    300517
VAR3_trx        601691  62.70    358016
VAR3_sum        601691  62.70    358016
VAR3_prom       601691  62.70    358016
VAR4_sum        545038  56.79    414669
VAR4_trx        545038  56.79    414669
VAR4_prom       545038  56.79    414669
VAR25_trx       529186  55.14    430521
VAR25_prom      529186  55.14    430521
VAR25_sum       529186  55.14    430521
VAR23_sum       502062  52.31    457645
VAR23_prom      502062  52.31    457645
VAR23_trx       502062  52.31    457645
VAR5_trx        241966  25.21    717741
VAR5_prom       241966  25.21    717741
VAR5_sum        241966  25.21    717741
VAR14_sum        66883   6.97    892824
VAR22_sum        66883   6.97    892824
VAR21_sum        66883   6.97    892824
VAR20_sum        66883   6.97    892824
VAR19_sum        66883   6.97    892824
VAR18_sum        66883   6.97    892824
VAR15_sum        66883   6.97    892824
VAR13_sum        66883   6.97    892824
VAR12_sum        66883   6.97    892824
VAR11_sum        66883   6.97    892824
target_mes           0   0.00    959707
USO                  0   0.00    959707
id                   0   0.00    959707
mes                  0   0.00    959707
tipo_cli             0   0.00    959707
tipo_cat             0   0.00    959707
tipo_com             0   0.00    959707
categoria            0   0.00    959707
tipo_seg             0   0.00    959707
tipo_ban             0   0.00    959707
data_id              0   0.00    959707

time: 37.4 ms (started: 2021-11-28 00:13:48 +00:00)


VAR10_sum

VAR9_sum

VAR9_trx

VAR9_prom

VAR6_sum

VAR6_prom

VAR6_trx

VAR26_sum

VAR26_trx

VAR26_prom
 de estos sólo quedara un binario, sólo quedan

1.   var10 sum
2.   VAR9_sum
3.   VAR6_sum
4.   VAR26_sum

In [ ]:
full["var1_n"] = round(full["VAR1_sum"]/full["VAR1_prom"], 3)
full["var2_n"] = round(full["VAR2_sum"]/full["VAR2_prom"], 3)
full["var3_n"] = round(full["VAR3_sum"]/full["VAR3_prom"], 3)
full["var4_n"] = round(full["VAR4_sum"]/full["VAR4_prom"], 3)
full["var5_n"] = round(full["VAR5_sum"]/full["VAR5_prom"], 3)

full["var7_n"] = round(full["VAR7_sum"]/full["VAR7_prom"], 3)
full["var8_n"] = round(full["VAR8_sum"]/full["VAR8_prom"], 3)
full["var9_n"] = round(full["VAR9_sum"]/full["VAR9_prom"], 3)

full["var23_n"] = round(full["VAR23_sum"]/full["VAR23_prom"], 3)
full["var24_n"] = round(full["VAR24_sum"]/full["VAR24_prom"], 3)
full["var25_n"] = round(full["VAR25_sum"]/full["VAR25_prom"], 3)

full["var27_n"] = round(full["VAR27_sum"]/full["VAR27_prom"], 3)
full["var28_n"] = round(full["VAR28_sum"]/full["VAR28_prom"], 3)

time: 181 ms (started: 2021-11-28 00:13:48 +00:00)

In [ ]:
full.head(2)

             id     mes tipo_ban  tipo_seg  ... var24_n var25_n var27_n var28_n
0  abdd0c8d3be5  202002     BAN1  NO PROD3  ...     NaN     NaN     NaN     NaN
1  5b290c34ff68  202006     BAN1     PROD1  ...     NaN     1.0     NaN     NaN

[2 rows x 85 columns]

time: 150 ms (started: 2021-11-28 00:13:49 +00:00)

In [ ]:
full.loc[full['VAR1_sum'] >0, 'var1_if'] = 1
full.loc[full['VAR2_sum'] >0, 'var2_if'] = 1
full.loc[full['VAR3_sum'] >0, 'var3_if'] = 1
full.loc[full['VAR4_sum'] >0, 'var4_if'] = 1
full.loc[full['VAR5_sum'] >0, 'var5_if'] = 1

full.loc[full['VAR6_sum'] >0, 'var6_if'] = 1
full.loc[full['VAR7_sum'] >0, 'var7_if'] = 1
full.loc[full['VAR8_sum'] >0, 'var8_if'] = 1
full.loc[full['VAR9_sum'] >0, 'var9_if'] = 1
full.loc[full['VAR10_sum'] >0, 'var10_if'] = 1

full.loc[full['VAR11_sum'] >0, 'var11_if'] = 1
full.loc[full['VAR12_sum'] >0, 'var12_if'] = 1
full.loc[full['VAR13_sum'] >0, 'var13_if'] = 1
full.loc[full['VAR14_sum'] >0, 'var14_if'] = 1
full.loc[full['VAR15_sum'] >0, 'var15_if'] = 1

full.loc[full['VAR16_sum'] >0, 'var16_if'] = 1
full.loc[full['VAR17_sum'] >0, 'var17_if'] = 1
full.loc[full['VAR18_sum'] >0, 'var18_if'] = 1
full.loc[full['VAR19_sum'] >0, 'var19_if'] = 1
full.loc[full['VAR20_sum'] >0, 'var20_if'] = 1

full.loc[full['VAR21_sum'] >0, 'var21_if'] = 1
full.loc[full['VAR22_sum'] >0, 'var22_if'] = 1
full.loc[full['VAR23_sum'] >0, 'var23_if'] = 1
full.loc[full['VAR24_sum'] >0, 'var24_if'] = 1
full.loc[full['VAR25_sum'] >0, 'var25_if'] = 1

full.loc[full['VAR26_sum'] >0, 'var26_if'] = 1
full.loc[full['VAR27_sum'] >0, 'var27_if'] = 1

time: 9.75 s (started: 2021-11-28 00:13:49 +00:00)

In [ ]:
full.fillna(0, inplace= True)
full["n_prod1"]= full["var1_if"] + full["var2_if"] + full["var3_if"] + full["var4_if"] + full["var5_if"] + full["var6_if"] + full["var7_if"] + full["var8_if"] + full["var9_if"] + full["var10_if"]
full["n_prod2"]= full["var11_if"] + full["var12_if"] + full["var13_if"] + full["var14_if"] + full["var15_if"] + full["var16_if"] + full["var17_if"] + full["var18_if"] + full["var19_if"] + full["var20_if"]
full["n_prod3"]= full["var21_if"] + full["var22_if"] + full["var23_if"] + full["var24_if"] + full["var25_if"] + full["var26_if"] + full["var27_if"]              
full["n_prod"] = full["n_prod1"] +full["n_prod2"] +full["n_prod3"]

time: 839 ms (started: 2021-11-28 00:13:58 +00:00)

In [ ]:
full.drop(["var1_if","var2_if","var3_if","var4_if","var5_if","var7_if","var8_if",
           "var11_if","var12_if","var13_if","var14_if","var15_if","var16_if","var17_if","var18_if","var19_if","var20_if",
           "var21_if","var22_if","var23_if","var24_if","var25_if","var27_if"], axis = 1, inplace= True)

time: 670 ms (started: 2021-11-28 00:13:59 +00:00)

In [ ]:
full.drop(["n_prod1", "n_prod2", "n_prod3"], axis = 1, inplace= True)

full.drop(["VAR6_sum", "VAR6_prom", "VAR6_trx", "VAR9_sum", "VAR9_trx", "VAR9_prom", "VAR10_sum" ,"VAR26_sum", "VAR26_trx", "VAR26_prom"], axis = 1, inplace= True)

time: 435 ms (started: 2021-11-28 00:14:00 +00:00)

In [ ]:
full["n_prod"] = full["n_prod"].astype(str)
full.groupby(["n_prod"]).count()

            id     mes  tipo_ban  ...  var9_if  var10_if  var26_if
n_prod                            ...
0.0      12244   12244     12244  ...    12244     12244     12244
1.0      33702   33702     33702  ...    33702     33702     33702
10.0     39919   39919     39919  ...    39919     39919     39919
11.0     20658   20658     20658  ...    20658     20658     20658
12.0      8784    8784      8784  ...     8784      8784      8784
13.0      3159    3159      3159  ...     3159      3159      3159
14.0       921     921       921  ...      921       921       921
15.0       231     231       231  ...      231       231       231
16.0        37      37        37  ...       37        37        37
17.0         3       3         3  ...        3         3         3
18.0         1       1         1  ...        1         1         1
2.0      59414   59414     59414  ...    59414     59414     59414
3.0      89506   89506     89506  ...    89506     89506     89506
4.0     116144  116144    116144  ...   116144    116144    116144
5.0     140361  140361    140361  ...   140361    140361    140361
6.0     145894  145894    145894  ...   145894    145894    145894
7.0     126642  126642    126642  ...   126642    126642    126642
8.0      96197   96197     96197  ...    96197     96197     96197
9.0      65890   65890     65890  ...    65890     65890     65890

[19 rows x 79 columns]

time: 1.67 s (started: 2021-11-28 00:14:00 +00:00)

In [ ]:
full["n_prod"] = full["n_prod"].astype(float)
full.head(2)

             id     mes tipo_ban  tipo_seg  ... var9_if var10_if var26_if n_prod
0  abdd0c8d3be5  202002     BAN1  NO PROD3  ...     0.0      0.0      0.0    5.0
1  5b290c34ff68  202006     BAN1     PROD1  ...     0.0      0.0      0.0    2.0

[2 rows x 80 columns]

time: 300 ms (started: 2021-11-28 00:14:02 +00:00)

In [ ]:
data_year.head(2)

      mes inicio_mes    fin_mes  ...  dif_col90365   dólar  dif_dolar
0  201812 2018-12-01 2018-12-31  ...          5.75  681.99       0.65
1  201901 2019-01-01 2019-01-31  ...         -4.35  677.06      -0.72

[2 rows x 25 columns]

time: 54.4 ms (started: 2021-11-28 00:14:02 +00:00)

In [ ]:
full= full.merge(data_year, on='mes', how='left')

time: 1.14 s (started: 2021-11-28 00:14:03 +00:00)

In [ ]:
print(full.isna().sum())

id                    0
mes                   0
tipo_ban              0
tipo_seg              0
categoria             0
tipo_com              0
tipo_cat              0
tipo_cli              0
VAR1_sum              0
VAR1_prom             0
VAR1_trx              0
VAR2_sum              0
VAR2_prom             0
VAR2_trx              0
VAR3_sum              0
VAR3_prom             0
VAR3_trx              0
VAR4_sum              0
VAR4_prom             0
VAR4_trx              0
VAR5_sum              0
VAR5_prom             0
VAR5_trx              0
VAR7_sum              0
VAR7_prom             0
VAR7_trx              0
VAR8_sum              0
VAR8_prom             0
VAR8_trx              0
VAR11_sum             0
VAR12_sum             0
VAR13_sum             0
VAR14_sum             0
VAR15_sum             0
VAR16_sum             0
VAR17_sum             0
VAR18_sum             0
VAR19_sum             0
VAR20_sum             0
VAR21_sum             0
VAR22_sum             0
VAR23_sum             0
VAR23_prom            0
VAR23_trx             0
VAR24_sum             0
VAR24_prom            0
VAR24_trx             0
VAR25_sum             0
VAR25_prom            0
VAR25_trx             0
VAR27_sum             0
VAR27_prom            0
VAR27_trx             0
VAR28_sum             0
VAR28_prom            0
VAR28_trx             0
VAR29_prom            0
VAR29_ratio           0
VAR30_sum             0
target_mes            0
USO                   0
data_id               0
var1_n                0
var2_n                0
var3_n                0
var4_n                0
var5_n                0
var7_n                0
var8_n                0
var9_n                0
var23_n               0
var24_n               0
var25_n               0
var27_n               0
var28_n               0
var6_if               0
var9_if               0
var10_if              0
var26_if              0
n_prod                0
inicio_mes            0
fin_mes               0
mes_num               0
dias_mes              0
días_habiles          0
fecha_importante      0
dias_trabajo          0
año                   0
Imacec                0
dif_imacec            0
desempleo             0
dif_desempleo         0
p_cobre               0
dif_por_cobre         0
p_petroleo            0
dif_por_petroleo      0
colocaciones_30       0
dif_col30             0
colocaciones30_ 89    0
dif_col3089           0
colocaciones90_365    0
dif_col90365          0
dólar                 0
dif_dolar             0
dtype: int64
time: 660 ms (started: 2021-11-28 00:14:04 +00:00)

In [ ]:
full["mes"] = full["mes"].astype(str)
full["data_id"] = full["id"]  +"-"+  full["mes"]
full.set_index("data_id", inplace= True)

time: 1.05 s (started: 2021-11-28 00:14:04 +00:00)

In [ ]:
full.head(2)

                               id     mes  ...   dólar dif_dolar
data_id                                    ...
abdd0c8d3be5-202002  abdd0c8d3be5  202002  ...  796.38      3.07
5b290c34ff68-202006  5b290c34ff68  202006  ...  793.72     -3.42

[2 rows x 103 columns]

time: 145 ms (started: 2021-11-28 00:14:05 +00:00)

In [ ]:
full.drop(["inicio_mes", "fin_mes","mes", "id"], axis = 1, inplace= True)
pd.set_option('max_columns', None)
full.head(2)

,tipo_ban,tipo_seg,categoria,tipo_com,tipo_cat,tipo_cli,VAR1_sum,VAR1_prom,VAR1_trx,VAR2_sum,VAR2_prom,VAR2_trx,VAR3_sum,VAR3_prom,VAR3_trx,VAR4_sum,VAR4_prom,VAR4_trx,VAR5_sum,VAR5_prom,VAR5_trx,VAR7_sum,VAR7_prom,VAR7_trx,VAR8_sum,VAR8_prom,VAR8_trx,VAR11_sum,VAR12_sum,VAR13_sum,VAR14_sum,VAR15_sum,VAR16_sum,VAR17_sum,VAR18_sum,VAR19_sum,VAR20_sum,VAR21_sum,VAR22_sum,VAR23_sum,VAR23_prom,VAR23_trx,VAR24_sum,VAR24_prom,VAR24_trx,VAR25_sum,VAR25_prom,VAR25_trx,VAR27_sum,VAR27_prom,VAR27_trx,VAR28_sum,VAR28_prom,VAR28_trx,VAR29_prom,VAR29_ratio,VAR30_sum,target_mes,USO,var1_n,var2_n,var3_n,var4_n,var5_n,var7_n,var8_n,var9_n,var23_n,var24_n,var25_n,var27_n,var28_n,var6_if,var9_if,var10_if,var26_if,n_prod,mes_num,dias_mes,días_habiles,fecha_importante,dias_trabajo,año,Imacec,dif_imacec,desempleo,dif_desempleo,p_cobre,dif_por_cobre,p_petroleo,dif_por_petroleo,colocaciones_30,dif_col30,colocaciones30_ 89,dif_col3089,colocaciones90_365,dif_col90365,dólar,dif_dolar
data_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
abdd0c8d3be5-202002,BAN1,NO PROD3,V5,COM4,RUBRO5,CLI1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,675920.0,675920.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,30034225.0,29202006.0,30034225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5576842.0,420953.381,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,train,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13.248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2,29,20,san_valentin,20,2020,113.90,0.31,7.81,0.37,265.6,-4.77,55.49,-14.77,1.80,0.0,2.64,-24.14,10.68,17.11,796.38,3.07
5b290c34ff68-202006,BAN1,PROD1,V2,COM2,RUBRO5,CLI1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,250000.0,250000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,250000.0,250000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,17081.5,0.034,0.0,6.19,train,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6,30,22,dia_padre,21,2020,97.17,-0.25,12.22,1.01,274.7,7.35,37.05,48.38,0.48,0.0,3.12,0.00,7.44,-3.13,793.72,-3.42

time: 843 ms (started: 2021-11-28 00:14:06 +00:00)

In [ ]:
col_names= full.columns

time: 3.11 ms (started: 2021-11-28 00:14:06 +00:00)

In [ ]:
for i in range(0,6):
  one_hot= pd.get_dummies(full[col_names[i]])
  full.drop([col_names[i]], axis=1, inplace=True)
  full = full.join(one_hot)

time: 6.13 s (started: 2021-11-28 00:14:06 +00:00)

In [ ]:
full.head(2)

,VAR1_sum,VAR1_prom,VAR1_trx,VAR2_sum,VAR2_prom,VAR2_trx,VAR3_sum,VAR3_prom,VAR3_trx,VAR4_sum,VAR4_prom,VAR4_trx,VAR5_sum,VAR5_prom,VAR5_trx,VAR7_sum,VAR7_prom,VAR7_trx,VAR8_sum,VAR8_prom,VAR8_trx,VAR11_sum,VAR12_sum,VAR13_sum,VAR14_sum,VAR15_sum,VAR16_sum,VAR17_sum,VAR18_sum,VAR19_sum,VAR20_sum,VAR21_sum,VAR22_sum,VAR23_sum,VAR23_prom,VAR23_trx,VAR24_sum,VAR24_prom,VAR24_trx,VAR25_sum,VAR25_prom,VAR25_trx,VAR27_sum,VAR27_prom,VAR27_trx,VAR28_sum,VAR28_prom,VAR28_trx,VAR29_prom,VAR29_ratio,VAR30_sum,target_mes,USO,var1_n,var2_n,var3_n,var4_n,var5_n,var7_n,var8_n,var9_n,var23_n,var24_n,var25_n,var27_n,var28_n,var6_if,var9_if,var10_if,var26_if,n_prod,mes_num,dias_mes,días_habiles,fecha_importante,dias_trabajo,año,Imacec,dif_imacec,desempleo,dif_desempleo,p_cobre,dif_por_cobre,p_petroleo,dif_por_petroleo,colocaciones_30,dif_col30,colocaciones30_ 89,dif_col3089,colocaciones90_365,dif_col90365,dólar,dif_dolar,BAN1,BAN2,BAN3,BAN4,MULTIPROD,NO PROD1,NO PROD2,NO PROD3,NO PROD4,PROD1,PROD1/PROD2,PROD1/PROD3,PROD1/PROD4,PROD2,PROD2/PROD4,PROD3,PROD3/PROD2,PROD3/PROD4,PROD4,SINPROD,V1,V2,V3,V4,V5,V6,COM1,COM2,COM3,COM4,COM5,RUBRO1,RUBRO10,RUBRO11,RUBRO12,RUBRO13,RUBRO14,RUBRO15,RUBRO16,RUBRO17,RUBRO18,RUBRO19,RUBRO2,RUBRO20,RUBRO21,RUBRO3,RUBRO4,RUBRO5,RUBRO6,RUBRO7,RUBRO8,RUBRO9,CLI1,CLI2
data_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
abdd0c8d3be5-202002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,675920.0,675920.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,30034225.0,29202006.0,30034225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5576842.0,420953.381,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.00,train,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13.248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2,29,20,san_valentin,20,2020,113.90,0.31,7.81,0.37,265.6,-4.77,55.49,-14.77,1.80,0.0,2.64,-24.14,10.68,17.11,796.38,3.07,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
5b290c34ff68-202006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,250000.0,250000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,250000.0,250000.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,17081.5,0.034,0.0,6.19,train,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6,30,22,dia_padre,21,2020,97.17,-0.25,12.22,1.01,274.7,7.35,37.05,48.38,0.48,0.0,3.12,0.00,7.44,-3.13,793.72,-3.42,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0

time: 84.5 ms (started: 2021-11-28 00:14:13 +00:00)

In [ ]:
one_hot= pd.get_dummies(full["fecha_importante"])
full.drop(["fecha_importante"], axis=1, inplace=True)
full = full.join(one_hot)

one_hot= pd.get_dummies(full["mes_num"])
full.drop(["mes_num"], axis=1, inplace=True)
full = full.join(one_hot)

time: 2.09 s (started: 2021-11-28 00:14:13 +00:00)

In [ ]:
def pross_stad(df):
  df = (df - df.min())/(df.max()-df.min())
  return df

time: 2.78 ms (started: 2021-11-28 00:14:15 +00:00)

In [ ]:
col_names = full.columns
col_names2 = col_names.to_frame()
col_names2

                                     0
VAR1_sum                      VAR1_sum
VAR1_prom                    VAR1_prom
VAR1_trx                      VAR1_trx
VAR2_sum                      VAR2_sum
VAR2_prom                    VAR2_prom
VAR2_trx                      VAR2_trx
VAR3_sum                      VAR3_sum
VAR3_prom                    VAR3_prom
VAR3_trx                      VAR3_trx
VAR4_sum                      VAR4_sum
VAR4_prom                    VAR4_prom
VAR4_trx                      VAR4_trx
VAR5_sum                      VAR5_sum
VAR5_prom                    VAR5_prom
VAR5_trx                      VAR5_trx
VAR7_sum                      VAR7_sum
VAR7_prom                    VAR7_prom
VAR7_trx                      VAR7_trx
VAR8_sum                      VAR8_sum
VAR8_prom                    VAR8_prom
VAR8_trx                      VAR8_trx
VAR11_sum                    VAR11_sum
VAR12_sum                    VAR12_sum
VAR13_sum                    VAR13_sum
VAR14_sum                    VAR14_sum
VAR15_sum                    VAR15_sum
VAR16_sum                    VAR16_sum
VAR17_sum                    VAR17_sum
VAR18_sum                    VAR18_sum
VAR19_sum                    VAR19_sum
VAR20_sum                    VAR20_sum
VAR21_sum                    VAR21_sum
VAR22_sum                    VAR22_sum
VAR23_sum                    VAR23_sum
VAR23_prom                  VAR23_prom
VAR23_trx                    VAR23_trx
VAR24_sum                    VAR24_sum
VAR24_prom                  VAR24_prom
VAR24_trx                    VAR24_trx
VAR25_sum                    VAR25_sum
VAR25_prom                  VAR25_prom
VAR25_trx                    VAR25_trx
VAR27_sum                    VAR27_sum
VAR27_prom                  VAR27_prom
VAR27_trx                    VAR27_trx
VAR28_sum                    VAR28_sum
VAR28_prom                  VAR28_prom
VAR28_trx                    VAR28_trx
VAR29_prom                  VAR29_prom
VAR29_ratio                VAR29_ratio
VAR30_sum                    VAR30_sum
target_mes                  target_mes
USO                                USO
var1_n                          var1_n
var2_n                          var2_n
var3_n                          var3_n
var4_n                          var4_n
var5_n                          var5_n
var7_n                          var7_n
var8_n                          var8_n
var9_n                          var9_n
var23_n                        var23_n
var24_n                        var24_n
var25_n                        var25_n
var27_n                        var27_n
var28_n                        var28_n
var6_if                        var6_if
var9_if                        var9_if
var10_if                      var10_if
var26_if                      var26_if
n_prod                          n_prod
dias_mes                      dias_mes
días_habiles              días_habiles
dias_trabajo              dias_trabajo
año                                año
Imacec                          Imacec
dif_imacec                  dif_imacec
desempleo                    desempleo
dif_desempleo            dif_desempleo
p_cobre                        p_cobre
dif_por_cobre            dif_por_cobre
p_petroleo                  p_petroleo
dif_por_petroleo      dif_por_petroleo
colocaciones_30        colocaciones_30
dif_col30                    dif_col30
colocaciones30_ 89  colocaciones30_ 89
dif_col3089                dif_col3089
colocaciones90_365  colocaciones90_365
dif_col90365              dif_col90365
dólar                            dólar
dif_dolar                    dif_dolar
BAN1                              BAN1
BAN2                              BAN2
BAN3                              BAN3
BAN4                              BAN4
MULTIPROD                    MULTIPROD
NO PROD1                      NO PROD1
NO PROD2                      NO PROD2
NO PROD3                      NO PROD3
NO PROD4                      NO PROD4
PROD1                            PROD1
PROD1/PROD2                PROD1/PROD2
PROD1/PROD3                PROD1/PROD3
PROD1/PROD4                PROD1/PROD4
PROD2                            PROD2
PROD2/PROD4                PROD2/PROD4
PROD3                            PROD3
PROD3/PROD2                PROD3/PROD2
PROD3/PROD4                PROD3/PROD4
PROD4                            PROD4
SINPROD                        SINPROD
V1                                  V1
V2                                  V2
V3                                  V3
V4                                  V4
V5                                  V5
V6                                  V6
COM1                              COM1
COM2                              COM2
COM3                              COM3
COM4                              COM4
COM5                              COM5
RUBRO1                          RUBRO1
RUBRO10                        RUBRO10
RUBRO11                        RUBRO11
RUBRO12                        RUBRO12
RUBRO13                        RUBRO13
RUBRO14                        RUBRO14
RUBRO15                        RUBRO15
RUBRO16                        RUBRO16
RUBRO17                        RUBRO17
RUBRO18                        RUBRO18
RUBRO19                        RUBRO19
RUBRO2                          RUBRO2
RUBRO20                        RUBRO20
RUBRO21                        RUBRO21
RUBRO3                          RUBRO3
RUBRO4                          RUBRO4
RUBRO5                          RUBRO5
RUBRO6                          RUBRO6
RUBRO7                          RUBRO7
RUBRO8                          RUBRO8
RUBRO9                          RUBRO9
CLI1                              CLI1
CLI2                              CLI2
dia_madre                    dia_madre
dia_niño                      dia_niño
dia_padre                    dia_padre
fiestas_patrias        fiestas_patrias
nada                              nada
navidad-año_nuevo    navidad-año_nuevo
san_valentin              san_valentin
1                                    1
2                                    2
3                                    3
4                                    4
5                                    5
6                                    6
7                                    7
8                                    8
9                                    9
10                                  10
11                                  11
12                                  12

time: 21.8 ms (started: 2021-11-28 00:14:15 +00:00)

In [ ]:
col_names[50]

'VAR30_sum'

time: 4.1 ms (started: 2021-11-28 00:14:15 +00:00)

In [ ]:
for i in range(0,51):
  full[col_names[i]] = pross_stad(full[col_names[i]])

time: 917 ms (started: 2021-11-28 00:14:15 +00:00)

In [ ]:
full.head(2)

,VAR1_sum,VAR1_prom,VAR1_trx,VAR2_sum,VAR2_prom,VAR2_trx,VAR3_sum,VAR3_prom,VAR3_trx,VAR4_sum,VAR4_prom,VAR4_trx,VAR5_sum,VAR5_prom,VAR5_trx,VAR7_sum,VAR7_prom,VAR7_trx,VAR8_sum,VAR8_prom,VAR8_trx,VAR11_sum,VAR12_sum,VAR13_sum,VAR14_sum,VAR15_sum,VAR16_sum,VAR17_sum,VAR18_sum,VAR19_sum,VAR20_sum,VAR21_sum,VAR22_sum,VAR23_sum,VAR23_prom,VAR23_trx,VAR24_sum,VAR24_prom,VAR24_trx,VAR25_sum,VAR25_prom,VAR25_trx,VAR27_sum,VAR27_prom,VAR27_trx,VAR28_sum,VAR28_prom,VAR28_trx,VAR29_prom,VAR29_ratio,VAR30_sum,target_mes,USO,var1_n,var2_n,var3_n,var4_n,var5_n,var7_n,var8_n,var9_n,var23_n,var24_n,var25_n,var27_n,var28_n,var6_if,var9_if,var10_if,var26_if,n_prod,dias_mes,días_habiles,dias_trabajo,año,Imacec,dif_imacec,desempleo,dif_desempleo,p_cobre,dif_por_cobre,p_petroleo,dif_por_petroleo,colocaciones_30,dif_col30,colocaciones30_ 89,dif_col3089,colocaciones90_365,dif_col90365,dólar,dif_dolar,BAN1,BAN2,BAN3,BAN4,MULTIPROD,NO PROD1,NO PROD2,NO PROD3,NO PROD4,PROD1,PROD1/PROD2,PROD1/PROD3,PROD1/PROD4,PROD2,PROD2/PROD4,PROD3,PROD3/PROD2,PROD3/PROD4,PROD4,SINPROD,V1,V2,V3,V4,V5,V6,COM1,COM2,COM3,COM4,COM5,RUBRO1,RUBRO10,RUBRO11,RUBRO12,RUBRO13,RUBRO14,RUBRO15,RUBRO16,RUBRO17,RUBRO18,RUBRO19,RUBRO2,RUBRO20,RUBRO21,RUBRO3,RUBRO4,RUBRO5,RUBRO6,RUBRO7,RUBRO8,RUBRO9,CLI1,CLI2,dia_madre,dia_niño,dia_padre,fiestas_patrias,nada,navidad-año_nuevo,san_valentin,1,2,3,4,5,6,7,8,9,10,11,12
data_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
abdd0c8d3be5-202002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000067,0.096560,0.000068,0.0,0.0,0.0,0.0,0.0,0.0,0.000788,0.001143,0.000788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000069,0.00006,0.002054,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000,0.0,0.00,train,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13.248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,29,20,20,2020,113.90,0.31,7.81,0.37,265.6,-4.77,55.49,-14.77,1.80,0.0,2.64,-24.14,10.68,17.11,796.38,3.07,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
5b290c34ff68-202006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000025,0.035714,0.000068,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.000012,0.035714,0.000214,0.0,0.0,0.0,0.0,0.0,0.0,4.363457e-07,0.009714,0.0,6.19,train,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,30,22,21,2020,97.17,-0.25,12.22,1.01,274.7,7.35,37.05,48.38,0.48,0.0,3.12,0.00,7.44,-3.13,793.72,-3.42,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

time: 92.5 ms (started: 2021-11-28 00:14:16 +00:00)

In [ ]:
col_names= full.columns
len(col_names)

164

time: 4.18 ms (started: 2021-11-28 00:14:16 +00:00)

In [ ]:
train = full[full['USO'] == "train"].copy(deep= True)
train.drop(["USO"], axis=1, inplace=True)

test  = full[full['USO'] == "test"].copy(deep= True)
test.drop(["USO"], axis=1, inplace=True)

# Split data into X and y
X = train.drop("target_mes", axis=1)

y = train["target_mes"]


# Split data into train and test sets
np.random.seed(42)

# Split into train & test set
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.15)

time: 2.93 s (started: 2021-11-28 00:14:16 +00:00)

In [ ]:
!pip install catboost
from catboost import CatBoostRegressor

Collecting catboost
  Downloading catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
     |████████████████████████████████| 76.3 MB 1.3 MB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.3
time: 11 s (started: 2021-11-28 00:14:19 +00:00)

In [ ]:
model = CatBoostRegressor(loss_function="RMSE", n_estimators=500)

model.fit(X_train, y_train, verbose=0)

time: 1min 30s (started: 2021-11-28 00:14:30 +00:00)

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

time: 1.8 ms (started: 2021-11-28 00:16:00 +00:00)

In [ ]:
y_pred= model.predict(X_train)
y_pred_t= model.predict(X_test)

r2_model_train = r2_score(y_train, y_pred)
r2_model_test  = r2_score(y_test, y_pred_t)
print(r2_model_train, r2_model_test)

#0.6326276241379618 0.5661098272062307

0.883630487347655 0.8040149506641715
time: 1.07 s (started: 2021-11-28 00:16:00 +00:00)

In [ ]:
mae_train = mean_absolute_error(y_train, y_pred)
mae_test  = mean_absolute_error(y_test, y_pred_t)
print(mae_train, mae_test )
#25.427348752237396 25.872691080985366
#89.26221376293945 100.5187909516407

89.26221478497045 100.51881194109755
time: 13.8 ms (started: 2021-11-28 00:16:01 +00:00)

In [ ]:
model.fit(X, y, verbose=0)
y_pred = model.predict(X)

time: 1min 46s (started: 2021-11-28 00:16:02 +00:00)

In [ ]:
y_pred= model.predict(X)
mae = mean_absolute_error(y, y_pred)
mae
#25.413375649665422
#87.53367572600219

89.9974442137225

time: 797 ms (started: 2021-11-28 00:17:48 +00:00)

In [ ]:
y_pred[y_pred<0]=0

time: 7.14 ms (started: 2021-11-28 00:17:49 +00:00)

In [ ]:
mae = mean_absolute_error(y, y_pred)
mae

89.1744190631967

time: 15.3 ms (started: 2021-11-28 00:17:49 +00:00)

In [ ]:
y_submission = model.predict(test)
y_submission[y_submission<0]=0

submission["target_mes"] = y_submission
submission.set_index("id", inplace= True)
submission.to_csv(path+"submission_cat_new_maxmin.csv")

time: 1.29 s (started: 2021-11-28 00:17:49 +00:00)